services:
  sftp:
    image: atmoz/sftp
    container_name: sftp-server
    ports:
      - "2222:22"
    volumes:
      - ./ssh-keys/sftp_key.pub:/home/usuario/.ssh/keys/sftp_key.pub:ro
      - ./sftp-data:/home/usuario/uploads
    command: usuario::1001:100:uploads

  # Navegador de archivos web
  filebrowser:
    image: filebrowser/filebrowser
    container_name: sftp-filebrowser
    ports:
      - "8090:80"
    volumes:
      - ./sftp-data:/srv
    environment:
      - FB_NOAUTH=true